.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

.container > div {
    margin-bottom: 20px;
}

button {
    margin: 40px;
}
