.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh; /* Adjust height to center vertically */
}

.container > div {
    margin-bottom: 20px; /* Adjust spacing between heading and button */
}
