.grid-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    margin-left: 200px;
    margin-bottom: 200px;
    margin-top: 50px;
}

.grid-item {
    border: 1px black;
    display: flex;
    margin-top: 50px;
}

mat-card {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
}

.card-img {
    width: 100%;
    height: auto;
    max-height: 200px;
}
