.product-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 100px;
    margin-top: 20px;
}

.grid-item {
    border: 1px solid black;
    display: flex;
    margin-top: 40px;
    padding: 10px;
    justify-content: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s, box-shadow 0.3s;
    background-color: white;
}

.grid-item:hover {
    transform: scale(1.2);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

mat-card {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    transition: box-shadow 0.3s;
}

mat-card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

mat-card-header {
    margin-bottom: 5px;
    width: 95%;
}

mat-card-title {
    color: rgb(28, 28, 28);
}

mat-card-subtitle {
    color: rgb(40, 39, 39);
}

mat-card-content {
    font-size: 13px;
    color: rgb(56, 56, 56);
    margin-bottom: 20px;
}

mat-card-actions {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.card-img {
    width: 100%;
    height: auto;
    max-height: 200px;
    object-fit: cover;
    margin-bottom: 5px;
    border-radius: 5px 5px 0 0;
}

a[mat-button] {
    background-color: #bf8d0d50;
    text-decoration: none;
    transition: color 0.5s;
}

a[mat-button]:hover {
    background-color: bisque;
}
